*.d
!Makefile.d/
*.o
/.features
/.dependencies
/.libdeps
/build_details.txt
/flashprog
/flashprog-*
/flashprog.exe
/flashprog.8
/include/version.h
/libflashprog.a
/libflashprog-doc/
/versioninfo.inc

/util/ich_descriptors_tool/ich_descriptors_tool
/util/ich_descriptors_tool/ich_descriptors_tool.exe
/util/ich_descriptors_tool/.dep
/util/ich_descriptors_tool/.obj
